@charset "UTF-8";

/* header */
#header {
    width: 100%;
    position: fixed;
    /* 헤더를 화면 상단에 고정 */
    left: 0;
    top: 0;
    padding: 1rem;
    display: flex;
    align-items: baseline;
    /* 요소들을 텍스트 기준선에 맞춰 정렬 */
    justify-content: space-between;
    /* 양 끝에 요소 배치하고, 나머지 공간 균등 분배 */


}

#header h1 {
    font-family: 'Poppins';
    text-transform: uppercase;
    color: #fff;
    line-height: 1.3rem;

}

#header h1 span {
    font-size: 30px;
    font-weight: 900;
    /* justify-content: space-between; */

}

#header h1 em {
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1.05rem;
}

#header nav {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    padding-right: 2rem;
    display: block;
}

#intro-text {
    position: relative;
    background-image: url(../img/mainimage.jpg);
    background-size: cover;
    background-position: center;
    height: 250vh;
    padding-top: 25rem;
    overflow: hidden;
}

#intro-text p {
    font-family: 'IropkeBatang';
    font-size: 16px;
    padding-top: 12rem;
    padding-left: 3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

#intro-text .text h2 {
    font-family: 'GmarketSans';
    font-size: 200px;
    font-weight: 200;
    line-height: -0.999rem;
    letter-spacing: -0.9rem;
    padding-left: 2.5rem;
    padding-top: 3rem;

}

#intro-text .more {}

/* 컨텐츠영역 */
#section1 {}

#section1 h2 {}

#section1 .article1 .left {}

#section1 .article1 .left img {}

#section1 .article1 .right {}

#section1 .article1 .right h3 {}

#section1 .article1 .right p {}

#section1 .article1 .right .btn {}