@charset "UTF-8";

/* header */
#header {
    width: 100%;
    position: fixed;
    /* 헤더를 화면 상단에 고정 */
    left: 0;
    top: 0;
    padding: 1rem;
    display: flex;
    align-items: baseline;
    /* 요소들을 텍스트 기준선에 맞춰 정렬 */
    justify-content: space-between;
    /* 양 끝에 요소 배치하고, 나머지 공간 균등 분배 */

}

#header h1 {
    font-family: 'Poppins';
    text-transform: uppercase;
    color: #fff;
    line-height: 1.3rem;

}

#header h1 span {
    font-size: 30px;
    font-weight: 900;
}

#header h1 em {
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1.05rem;
}

#header nav {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    padding-right: 2rem;
    display: block;
}

#intro-text {
    background-image: url(../img/mainimage.jpg);
    background-size: cover;
    background-position: center;
    height: 250vh;
    padding-top: 25rem;
    overflow: hidden;
}

#intro-text p {
    font-family: 'IropkeBatang';
    font-size: 16px;
    padding-top: 12rem;
    padding-left: 3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

#intro-text h2 {
    font-family: 'GmarketSans';
    font-size: 200px;
    font-weight: 200;
    line-height: -0.999rem;
    letter-spacing: -0.9rem;
    padding-left: 2.5rem;
    padding-top: 3rem;

}

#intro-text .more {}

/* 컨텐츠영역 */
#contents1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#contents1 .cont-left {
    width: 50%;
    height: auto;
    padding-top: 60vh;

}

#contents1 .cont-right {
    width: 50%;
    height: auto;
}

#contents1 .cont-right h3 {
    font-family: 'Italiana';
    font-size: 50px;
    color: #333;
    display: block;
    padding-left: 20rem;
    text-align: right;

}

#contents1 .cont-right p {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
    color: #333;
    padding-top: 2.75rem;
    margin-left: 4rem;
    display: block;
}

#contents1 .cont-right .btn {
    font-family: 'Poppins';
    color: #333;
    font-size: 18px;
    text-decoration: underline;
    display: block;
    padding-top: 5rem;
    text-underline-offset: 15px;
    /* 글자와 밑줄 사이 간격 설정 */
    display: flex;
    justify-content: right;
    text-align: right;
    margin-right: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

#contents2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    overflow: hidden;
}

#contents2 .cont-left {
    width: 70%;
    height: auto;
    padding-right: 2rem;
}

#contents2 .cont-left h3 {
    font-family: 'Italiana';
    font-size: 50px;
    color: #333;
    display: block;
    padding-left: 20rem;

}

#contents2 .cont-left p {
    font-family: 'NanumSquareNeo';
    font-size: 18px;
    color: #333;
    padding-top: 2.75rem;
    display: block;
    padding-left: 10rem;

}

#contents2 .cont-left .btn {
    font-family: 'Poppins';
    color: #333;
    font-size: 18px;
    text-decoration: underline;
    display: block;
    padding-top: 37rem;
    text-underline-offset: 15px;
    /* 글자와 밑줄 사이 간격 설정 */
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

#contents2 .cont-right {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 7rem;
}

#contents2 .cont-right a {
    display: block;
}