@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

#wrap {
  width: 1000px;
  display: flex;
  position: relative;
}

/* aside */
#aside {
  width: 200px;
  height: 650px;
  background-color: #ceadff;
}

#aside .logo {
  width: 100%;
  height: 100px;
  background-color: #eee7fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aside .logo a {
  font-size: 24px;
}

#aside .nav {
  width: 100%;
  height: 550px;
  position: relative;
  z-index: 1000;
}

#aside .nav>ul {
  margin: 3px;
}

#aside .nav>ul>li {
  position: relative;
}

#aside .nav>ul>li>a {
  display: block;
  padding: 10px;
  background-color: #6940bb;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

#aside .nav>ul>li>a:hover {
  background-color: #b586fc;
}

#aside .nav>ul>li>ul {
  /* display: none; */
  position: absolute;
  right: -202px;
  top: -1px;
  width: 200px;
}

#aside .nav>ul>li>ul>li>a {
  display: block;
  padding: 10px;
  background-color: #6e47bc;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

#aside .nav>ul>li>ul>li>a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* main */
#main {
  width: 800px;
  height: 650px;
  background-color: #d9d9d9;
}

/* slider */
#slider {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

#slider .sliderWrap {
  display: flex;
  width: 400%;
  height: 100%;
}

#slider .sliderWrap .slider {
  position: relative;
}

#slider .sliderWrap .slider a {
  display: block;
}

#slider .sliderWrap .slider .text {
  position: absolute;
  right: 50px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

#slider .sliderWrap .slider .text h2 {
  color: #fff;
  padding: 0 10px;
}

#slider .sliderWrap .slider .text strong {
  font-size: 30px;
  color: #ecdfff;
}

#slider .sliderWrap .slider .text p {
  color: #fff;
  padding: 0 10px;
}

/* contents */
#contents {
  width: 100%;
  display: flex;
}

/* notice */
#contents .notice {
  width: 300px;
  height: 200px;
  background-color: #eee7fa;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#contents .notice h3 {
  display: block;
  padding: 4px 10px;
  width: 100%;
  background-color: #d3bdf9;
  margin-bottom: 10px;
}

#contents .notice li {
  display: flex;
  position: relative;
  line-height: 1.7;
  padding-left: 10px;
}

#contents .notice li::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

#contents .notice li a {
  display: block;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

#contents .notice li a:hover {
  text-decoration: underline;
}

#contents .notice li span {
  width: 20%;
  font-size: 13px;
  text-align: right;
}

#contents .notice .more {
  position: absolute;
  right: 8px;
  top: 23px;
  font-size: 12px;
}

/* gallery */
#contents .gallery {
  width: 300px;
  height: 200px;
  background-color: #eee7fa;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#contents .gallery h3 {
  display: block;
  padding: 4px 10px;
  width: 97%;
  background-color: #d3bdf9;
  margin-bottom: 5px;
}

#contents .gallery ul {
  display: flex;
  justify-content: space-between;
}

#contents .gallery li {
  margin: 0 2px;
  /* li 요소 간의 간격 설정 */
  position: relative;
}

#contents .gallery li a {
  display: block;
}

#contents .gallery li a img {
  width: 90px;
  height: 150px;
}

#contents .gallery li span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

#contents .gallery li span:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#contents .gallery .more {
  position: absolute;
  right: 10px;
  top: 23px;
  font-size: 12px;
}

/* link */
#contents .link {
  width: 200px;
  height: 200px;
  background-image: url(../images/bannerC.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-top: 1px;
}

#contents .link h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}

#contents .link a {
  color: #fff;
  background-color: #58339e;
  padding: 10px 20px;
  border-radius: 40px;
  transition: all 0.3s;
}

#contents .link a:hover {
  background-color: #7853bf;
}

/* footer */
#footer {
  width: 100%;
  display: flex;
  background-color: #f6f1fe;
}

#footer .footer1 {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer .footer1 h4 {
  font-size: 20px;
  color: #605a5a;
  padding-bottom: 5px;
}

#footer .footer1 p {
  color: #605a5a;
  font-size: 12px;
}

#footer .footer2 {
  width: 450px;
  height: 100px;
  padding: 15px;
  box-sizing: border-box;
  color: #605a5a;
  font-size: 14px;
}

#footer .footer2 span {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  color: #605a5a;
}

#footer .footer3 {
  width: 150px;
  height: 100px;
  padding-top: 10px;
  box-sizing: border-box;
  color: #605a5a;
}

#footer .footer3 select {
  width: 90%;
  height: 30px;
  font-size: 12px;
}

.popup-view {
  width: 300px;
  height: 300px;
  background-color: #f4f4f4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  display: none;
}

.popup-view h5 {
  padding: 20px;
  font-size: 18px;
  text-decoration: underline;
  line-height: 1.5;
}

.popup-close {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  transition: all 0.3s;
}

.popup-close:hover {
  background-color: rgba(0, 0, 0, 0.3);
}