@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}

a {


    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

#wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* aside */
#aside {
    width: 200px;
}

#aside .logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aside .logo a {
    display: block;
    font-size: 26px;
}

/* nav */
#aside .nav {
    width: 100%;
    height: 550px;
    background-color: #efefef;
}

#aside .nav ul {
    padding: 2px;
}

#aside .nav ul>li {
    margin-bottom: 1px;
}

#aside .nav ul>li>a {
    display: inline-block;
    padding: 10px;
    background-color: #ffd139;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #dead0c;
}

#aside .nav ul>li>a:hover {
    background-color: #f8db7b;
}

#aside .nav ul>li>ul {
    display: none;
}

#aside .nav ul>li>ul>li>a {
    display: block;
    padding: 10px;
    background-color: #ffebab;
    text-align: center;
}

#aside .nav ul>li>ul>li>a:hover {
    background-color: #fff2c7;
}

/* main */
#main {
    width: calc(100% - 200px);
    height: 650px;
    background-color: #efefef;
}

/* slider */
#slider {
    width: 100%;
    display: flex;
    overflow: hidden;
}

#slider .sliderWrap {
    width: calc(100% - 230px);
    height: 400px;
}

#slider .sliderWrap .slider {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
}

#slider .sliderWrap .slider.s1 {
    background-image: url(../images/slider01.jpg);
}

#slider .sliderWrap .slider.s2 {
    background-image: url(../images/slider02.jpg);
}

#slider .sliderWrap .slider.s3 {
    background-image: url(../images/slider03.jpg);
}

#slider .sliderWrap .slider .text {
    background-color: #dead0c8f;
    width: 100%;
    padding: 20px;
}

#slider .sliderWrap .slider .text h2 {
    color: #fff;
    margin-bottom: 5px;
    font-size: 30px;
}

#slider .sliderWrap .slider .text p {
    color: #fff;
    font-size: 15px;
}

/* banner */
#slider .banner {
    width: 230px;
    height: 400px;
    background-image: url(../images/benner.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 10px solid #ffd139;
    box-sizing: border-box;
    transition: all 0.3s;
}

#slider .banner:hover {
    border: 5px solid #ffd139;
}

#slider .banner h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

#slider .banner strong {
    color: #ffd139;
    display: block;
}

#slider .banner a {
    background-color: #fbf4df;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s;
}

#slider .banner a:hover {
    background-color: #f2d069;
}

/* contents */
#contents {
    width: 100%;
    display: flex;
}

/* notice */
#contents .notice {
    width: 50%;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fbf4df;
    overflow: hidden;
    position: relative;
}

#contents .notice h3 {
    padding: 4px 10px;
    background-color: #ffd139;
    margin-bottom: 10px;
}

#contents .notice li {
    display: flex;
    line-height: 1.5;
    position: relative;
    padding-left: 10px;
}

#contents .notice li::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}

#contents .notice li a {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#contents .notice li a:hover {
    text-decoration: underline;
}

#contents .notice li span {
    width: 20%;
    text-align: right;
    font-size: 14px;
}

#contents .notice .more {
    position: absolute;
    right: 30px;
    top: 27px;
    font-size: 14px;
}

#contents .notice .more:hover {
    color: #fff2c7;
    transition: color 0.3s;
}

#contents .gallery {
    width: 50%;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fbf4df;
    overflow: hidden;
    position: relative;
}

#contents .gallery h3 {
    padding: 4px 10px;
    background-color: #ffd139;
    margin-bottom: 10px;
}

#contents .gallery ul {
    display: flex;
}

#contents .gallery li {
    width: 110px;
    height: 100px;

}

#contents .gallery li a {
    display: inline-block;
}

#contents .gallery li a img {   
    transition: all 0.3s;
}

#contents .gallery li a span {
    padding: 10px 0;
    display: inline-block;

}

#contents .gallery .more {
    position: absolute;
    right: 30px;
    top: 27px;
    font-size: 14px;
}

#contents .gallery .more:hover {
    color: #fbf4df;
    transition: color 0.3s;
}

/* footer */
#footer {
    width: 100%;
    display: flex;
}

#footer .footer1 {
    width: 200px;
    height: 100px;
    background-color: #a3a3a3;
}

#footer .footer2 {
    width: calc(100% - 500px);
    height: 100px;
    background-color: #a9a9a9;
}

#footer .footer3 {
    width: 300px;
    height: 100px;
    background-color: #a3a3a3;
}