@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: top;
}

/* wrap */
#wrap {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

/* aside */
#aside {
  width: 200px;
  background-color: #ebe1ff;
}

#aside .logo {
  width: 200px;
  height: 100px;
  text-align: center;
}

#aside .logo a {
  display: inline-block;
  padding: 20px;
  font-size: 26px;
}

#aside .nav {
  width: 200px;
  height: 550px;
}

#aside .nav>ul>li {
  position: relative;
}

#aside .nav>ul>li>a {
  display: inline-block;
  background-color: #58339e;
  color: #fff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

#aside .nav>ul>li>a:hover {
  background-color: #7243c9;
}

#aside .nav>ul>li>ul {
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  right: -200px;
  top: 0;
  width: 200px;
}

#aside .nav>ul>li>ul>li>a {
  display: inline-block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

#aside .nav>ul>li>ul>li>a:hover {
  background-color: #8558d1;
  color: #fff;
}

/* main */
#main {
  width: 800px;
}

/* slider */
#slider {
  width: 800px;
  height: 350px;
  overflow: hidden;
}

#slider .sliderWrap {
  overflow: hidden;
}

#slider .sliderWrap .slider {
  position: relative;
  height: 350px;
}

#slider .sliderWrap .slider a {
  display: block;
}

#slider .sliderWrap .slider .text {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
}

#slider .sliderWrap .slider .text h2 {
  color: #fff;
  font-size: 40px;
}

#slider .sliderWrap .slider .text h2 em {
  color: #58339e;
  font-style: normal;
}

#slider .sliderWrap .slider .text p {
  color: #fff;
}


/* contents */
#contents {
  width: 800px;
  display: flex;
}

/* notice */
#contents .notice {
  width: 300px;
  height: 200px;
  background-color: #f9ddff;
  padding: 20px;
  box-sizing: border-box;
}

#contents .notice h3 {
  margin-bottom: 10px;
}

#contents .notice ul {}

#contents .notice li {
  line-height: 1.6;
  position: relative;
  padding-left: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*   overflow,text-overflow,white-space 한줄효과 */
}

#contents .notice li::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 8px;
}

#contents .notice li a:hover {
  text-decoration: underline;
}

/* gallery */
#contents .gallery {
  width: 300px;
  height: 200px;
  background-color: #e0bfff;
  padding: 20px;
  box-sizing: border-box;
}

#contents .gallery h3 {
  margin-bottom: 10px;
}

#contents .gallery ul {
  display: flex;
}

#contents .gallery li {
  margin-right: 8px;
}

#contents .gallery li img {
  width: 80px;
}

#contents .gallery li a {
  display: block;
}

#contents .gallery li a:hover {
  opacity: 0.7;
}

/* link */
#contents .link {
  width: 200px;
  height: 200px;
  background-image: url(../images/bannerC.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  /* display,align-items,justify-content : 가운데정렬 */
  flex-direction: column;
  /* flex-direction : 줄바꿈 */
}

#contents .link h3 {
  color: #fff;
  font-size: 24px;
}

#contents .link a {
  background-color: #58339e;
  color: #fff;
  padding: 7px 20px;
  border-radius: 40px;
}

#contents .link a:hover {
  background-color: #6f2ceb;
}

/* footer */
#footer {
  width: 800px;
  background-color: #e69bff;
  display: flex;
  align-items: center;
  height: 100px;
}

#footer .footer1 {
  width: 200px;
  text-align: center;
}

#footer .footer1 h4 {
  font-size: 20px;
  color: #7a7a7a;
}

#footer .footer2 {
  width: 400px;
}

#footer .footer3 {
  width: 200px;
}

#footer .footer3 select {
  width: 90%;
  height: 30px;
}

/* popup_view */
.popup_view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #d0aef0;
  padding: 20px;
  border: 4px solid #7243c9;
  display: none;
}

.popup_view h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup_close {
  display: inline-block;
  padding: 8px 20px;
  background-color: #7243c9;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}