@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.ttf") format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontN: "nanumSquareNeo";
    --fontG: "GmarketSans";
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* main__icons */
.main__icons {
    .icon {
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px;
        cursor: pointer;
        text-align: center;

        img {
            width: 50px;
            border-radius: 50%;
        }

        span {
            display: block;
            font-family: var(--fontN);
            margin-top: 8px;
            color: #fff;
            font-size: 13px;
        }
    }
}

/* layer__wrap */
.layer__wrap {}

.layer__inner {

    .layer {
        width: 80vw;
        height: 90vh;
        /* background-color: #ccc; */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-family: var(--fontN);

        .layer__conts {
            background-color: #223167a8;
            backdrop-filter: blur(30px);
            width: 100%;
            height: 100%;
            padding: 5%;
            border-radius: 10px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 10px;
                background-color: #223167a8;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #ffffff51;
                border-radius: 20px;
            }

            .intro {
                h3 {
                    font-size: 25px;
                    margin-bottom: 15px;
                    font-weight: 300;
                }

                span {
                    display: block;
                    margin-bottom: 10px;
                }

                .mail {
                    display: block;
                    font-size: 12px;
                    color: #c9c9c9;
                    text-decoration: none;
                    margin-bottom: 30px;
                    margin-top: 30px;
                    position: relative;

                    &::after {
                        content: '';
                        width: 80px;
                        height: 1px;
                        background-color: #fff;
                        position: absolute;
                        top: -14px;
                        left: 0;
                    }
                }

                p {
                    line-height: 1.7;
                }

                .style1 {
                    font-size: 20px;
                    margin-bottom: 20px;
                    font-weight: 300;
                }

                .style2 {
                    font-size: 16px;
                    opacity: 0.6;
                }
            }

            .skill {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                h3 {
                    width: 100%;
                    border-bottom: 1px solid #fff;
                    font-weight: 100;
                    font-size: 16px;
                    line-height: 2;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                dl {
                    width: 48%;

                    dt {
                        text-transform: uppercase;
                        text-decoration: underline;
                        text-underline-position: under;
                        margin-bottom: 10px;
                    }

                    dd {
                        margin-bottom: 20px;
                        line-height: 1.6;
                    }
                }
            }

            .picture {
                h3 {
                    width: 100%;
                    border-bottom: 1px solid #fff;
                    font-weight: 100;
                    font-size: 16px;
                    line-height: 2;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 25%;
                        list-style: none;

                        img {
                            width: 100%;
                            vertical-align: top;
                        }
                    }
                }
            }
        }

        .layer__footer {}
    }
}

@media (max-width: 1200px) {
    .layer__inner {
        .layer {
            width: 90vw;
        }
    }
}

@media (max-width: 960px) {
    .layer__inner {
        .layer {
            width: 95vw;
            height: 95vh;

            .layer__conts {
                .picture {
                    ul {
                        li {
                            width: 33.3333%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .layer__inner {
        .layer {
            .layer__conts {
                .skill {
                    flex-direction: column;

                    dl {
                        width: 100%;
                    }
                }

                .picture {
                    ul {
                        li {
                            width: 50%;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 600px) {
    .layer__inner {
        .layer {
            .layer__conts {
                background-color: #223167;

                .picture {
                    ul {
                        li {
                            width: 100%;
                        }
                    }
                }
            }

        }
    }
}