/* 웹폰트 설정 */
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}

/* 초기 셋팅값 */
:root {
    --fontN: "nanumSquareNeo";
    --fontG: "GmarketSans";

    --black: #000;
    --black100: #111;
    --black200: #444;
    --black300: #666;
    --black400: #bbb;
    --black500: #eee;

    --white: #fff;
    --white100: #f1f1f1;
    --white200: #e7e7e7;
    --white300: #dddddd;
    --white400: #d1d1d1;
    --white500: #c7c7c7;
}

/* 여백 초기화 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 링크 초기화 */
a {
    color: #000;
    text-decoration: none;
}

/* 목록 초기화 */
li {
    list-style: none;
}

/* 가운데 영역 */
.container {
    max-width: 1000px;
    width: 96%;
    margin: 0 auto;
}

/* 헤더 영역 */
#header {
    text-align: center;
    padding: 40px;
    border-bottom: 1px dashed #dcdcdc;
    margin-bottom: 40px;
}

#header h1 {
    margin-bottom: 20px;
}

#header h1 a {
    font-family: var(--fontG);
    font-size: 4vw;
    color: #161366;
}

@media (max-width: 800px) {
    #header h1 a {
        font-size: 30px;
    }
}

#header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#header nav ul li {
    margin: 2px;
}

#header nav ul li a {
    font-family: var(--fontN);
    border: 1px solid #161366;
    padding: 10px 20px;
    display: inline-block;
    color: #161366;
}

#header nav ul li.active a {
    background-color: #161366;
    color: #fff;
}

/* main__sample */
.main__sample {
    padding: 40px;
}

@media (max-width: 800px) {
    .main__sample {
        padding: 30px 10px;
    }
}

.main__sample .sample {
    margin-bottom: 100px;
}

.main__sample .sample h3 {
    font-size: 30px;
    font-family: var(--fontG);
    margin-bottom: 20px;
}

.main__sample .sample h4 {
    font-size: 20px;
    font-family: var(--fontG);
    margin-bottom: 10px;
    margin-top: 50px;
    font-weight: 500;
}

.main__sample .sample p {
    font-size: 16px;
    font-family: var(--fontN);
    margin-bottom: 10px;
    line-height: 1.7;
    color: var(--black300);
}

.main__sample .sample p.strong {
    font-size: 20px;
    color: var(--black200);
    margin-bottom: 15px;
}

.main__sample .sample ul {
    padding-left: 15px;
    margin-bottom: 20px;
}

.main__sample .sample li {
    color: var(--black300);
    line-height: 1.8;
    font-family: var(--fontN);
    list-style: square;
}

.main__sample .sample i {
    color: red;
    font-style: normal;
}

.main__sample .sample .info {
    padding: 20px;
    background-color: #f4f8fa;
    border-left: 3px solid #35a6c9;
    font-family: var(--fontN);
}

.main__sample .sample .info p {
    margin-bottom: 5px;
}

.main__sample .sample .info p:last-child {
    margin-bottom: 0;
}

.main__sample .sample .info a {
    color: #2b8fad;
    text-decoration: underline;
}

/* footer */
#footer {
    padding: 100px;
    text-align: center;
    font-family: var(--fontN);
    font-size: 14px;
}