@charset "UTF-8";

@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

/* all layaut */
#wrap {
    width: 1920px;
    margin: 0 auto;
    color: #fff;
}

/* header */
#header {
    position: relative;
    width: 100%;
    height: 2716px;
    background-image: url(../assets/img/mainimage.jpg);
}

#header .logo {
    font-family: 'Poppins';
    padding: 10px 30px;
    color: #fff;
}

#header .logo h1 {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: -15px;
}

#header .logo p {
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
}

#header .nav {
    position: relative;
}

#header .nav ul {
    position: absolute;
    right: 0;
    top: -80px;
}

#header .nav li {
    padding: 10px 30px;
}

#header .nav li>a {
    font-family: 'Poppins';
    font-size: 1.875rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#header .nav li>a:hover {
    color: rgba(255, 255, 255, 0.5);
}

#header .header-content {}

#header .sub-message {
    padding: 0 30px;
}

#header .sub-message p {
    position: absolute;
    top: 500px;
    font-family: 'IropkeBatang';
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
}

#header .header-title {
    position: absolute;
    top: 650px;
    font-family: 'GmarketSans';
    font-weight: 300;
    font-size: 12.5rem;
    color: #fff;
    line-height: 1.1;
    padding: 0 10px;
}

#header .scroll-btn {
    position: absolute;
    bottom: 20px;
    right: 960px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 9999;
}

#header .scroll-btn img {
    width: 50px;
}

/* 컨텐츠영역 */
#design-contents {
    position: relative;
    width: 100%;
    height: 4408px;
    background-color: #333;
}

#design-contents h2 {
    padding-top: 400px;
    font-family: 'Poppins';
    font-size: 18.75rem;
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 45px;
}

#design-contents .design-project1 {}

#design-contents .design-project1 img {
    position: absolute;
    top: 670px;
    left: 66px;
    width: 848px;
    height: 1174px;
}

#design-contents .design-project1 h3 {
    font-family: 'Italiana';
    font-size: 3.125rem;
    position: absolute;
    right: 600px;
    top: 1000px;
}

#design-contents .design-project1 p {
    position: absolute;
    right: 0;
    top: 1100px;

}

#design-contents .design-project1 a {}

#design-contents .design-project2 {}

#design-contents .design-project2 img {
    position: absolute;
    top: 2100px;
    right: 151px;
    width: 615px;
    height: 924px;
}

#design-contents .design-project2 h3 {
    position: absolute;
    left: 800px;
    top: 2700px;
    font-family: 'Italiana';
    font-size: 3.125rem;
}

#design-contents .design-project2 p {}

#design-contents .design-project2 a {}

#design-contents .design-project3 {}

#design-contents .design-project3 img {
    position: absolute;
    top: 3300px;
    right: 500px;
    width: 1121px;
    height: 673px;
}

#design-contents .design-project3 h3 {
    position: absolute;
    right: 500px;
    bottom: 300px;
    font-family: 'Italiana';
    font-size: 3.125rem;
}

#design-contents .design-project3 p {}

#design-contents .design-project3 a {}

.intro-video {
    width: 100%;
    height: 1338px;
    background-color: #555;
}

.section-projects {
    width: 100%;
    height: 4705px;
    background-color: #777;
}

.about-footer {
    width: 100%;
    height: 1080px;
    background-color: #999;
}